function updateClock(){


const now = new Date();



let hour = now.getHours();

let minute = now.getMinutes();



minute =
minute < 10
? "0"+minute
: minute;



let time =
`${hour}:${minute}`;



document.getElementById("time")
.innerText=time;



document.getElementById("homeTime")
.innerText=time;




let date =
now.toLocaleDateString(
"en-US",
{
weekday:"long",
month:"long",
day:"numeric"
}
);



document.getElementById("date")
.innerText=date;



}



updateClock();

setInterval(updateClock,1000);





function unlock(){


const face =
document.querySelector(".face-id");


face.innerHTML=
`
<div class="face-circle">
◌
</div>
<span>
Scanning Face...
</span>
`;



setTimeout(()=>{


document.getElementById("lock")
.style.display="none";


document.getElementById("home")
.style.display="block";



},1200);



}
